<% content_for :title, "Statutory Instrument: #{@statutory_instrument.title}" %>

<div class="row">
  <h1>
    <%= @statutory_instrument.title %>
  </h1>
</div>

<ul>
<% @statutory_instrument.fee_categories.each do |category| %>

  <li>
  <%= link_to category.title, category_path(category) %>
  </li>

<% end %>
</ul>
