<% content_for :title, "Fee: #{@fee.title}" %>

<h1>Fee</h1>

<div class="row">
  <strong>Title:</strong>
  <%= @fee.title %>
</div>

<div class="row">
  <strong>Amount:</strong>
  <%= @fee.amount %>
</div>
