<% content_for :title, "Fee: #{@fee.title}" %>

<div class="row">
  <h1>Fee</h1>
</div>

<div class="row">
  <strong>Title:</strong>
  <%= @fee.title %>
</div>

<div class="row">
  <strong>Amount:</strong>
  £<%= @fee.amount %>
</div>
