<% content_for :title, "Fee: #{@fee.title}" %>

<div class="row">
  <strong>
  Fee title:
  </strong>
  <%= @fee.title %>
</div>

<div class="row">
  <strong>
    Fee:
  </strong>
  <%= @amount.amount %>
</div>
